// Print stylesheet

#branding, 
#branding *, 
#secondary,
#navbar-menu,
#thin-strip,
#footer,
#footer-main,
#footer-right,
#footer-left,
#footer-main ul,
#header,
.tinynav {
	display: none !important;
}
body #primary,
body .container,
.span8 { width: 100% !important}
