/* ----  Content ---- */

.single #primary,
.page #primary,
.archive #primary
 {
    width: 820px;
}


// Alert 


#uwalert-alert-message {
	p, h1 {
		color: white;
		padding: 5px 0 0 200px;
		margin: 0;
    }
    div {
	    width: 768px;
    }
}
