
.youtube-large {
	float: left;
	width: 74.5%;
	margin: 1% 0 1% 1%;
}

.youtube-small {
	width: 20.5%;
	padding: 1.5% 1% 1.2% 2%;
	float: right;
	overflow: hidden;
	position: relative;
	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(left,  #dddddd 0%, #ffffff 3%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#dddddd), color-stop(3%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #dddddd 0%,#ffffff 3%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #dddddd 0%,#ffffff 3%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #f4f4f4 0%,#ffffff 3%); /* IE10+ */
	background: linear-gradient(to right,  #dddddd 0%,#ffffff 3%); /* W3C */
}

#youtube-playlist-player {
	margin: 20px 0 40px;
	.box-shadow(1px 1px 7px #E0E0E0);
	clear: both;
	object {
		width:100%;
		margin: 0;
	}
	ul {
		margin: 0;
	}
	ul li {
		margin-bottom: 5px;
		background: none;
		padding:0;
		position: relative;
		&:first-child {
		    display: none;
		}
	}

}

#youtube-player-controls {
	height: 351px;
	overflow: hidden;
	padding: 0;
	span {
		display: block;
		font-size: 85%;
		line-height: 1.3em; 
	}
	.title { 
		margin: 5px 0 0 0 
	}	
	a {
	    display: block;
	    margin: 0 0 10px;
	    overflow: hidden;
	    position: relative; 
	}
	.duration { color: #484848 }
	.playBtn {
	    left: 43px;
	    position: absolute;
	    top: 31px;
	    z-index: 0;
	    border: none; 
	}
	
	.viewport {
	    height: 354px;
	    overflow: hidden;
	    position: relative;
	    width: 115px; 
	}
	.overview {
	    list-style: none;
	    position: absolute;
	    left: 0;
	    top: 0; 
	    width:100%;
	}
	
	.thumb .end,
	.thumb { background-color: #888888 }
	.scrollbar {
        display: none;
        float: right;
        width: 10px; }
    
    .track {
        background-color: #f4f4f4;
        height: 100%;
        width: 8px;
        position: relative;
        padding: 0 1px; }
    
    .thumb {
        height: 20px;
        width: 8px;
        cursor: pointer;
        overflow: hidden;
        position: absolute;
        top: 0; 
        .thumb .end {
            overflow: hidden;
            height: 5px;
            width: 8px; 
        }
    }
	.disable { display: none }
}


// Columns (has to be converted to shortcode)

.three-col {
	width: 26%;
	margin-right: 7%;
	float: left;
}
.four-col {
	width: 16%;
	margin-right: 9%;
	float: left;
}

// Blogroll shortcode
.info-box {
	ul.shortcode-blogroll {
		margin-left: 0;
		li {
			margin-bottom: 10px;
			border-bottom: 1px dotted #E6E6E6;
			padding-bottom: 10px;
			&:last-child {
				border-bottom: 1px dotted transparent;
			}
		}
		a {
			font-size: 1em;
		}	
		p {
			border-bottom: 1px dotted transparent;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}	
}
.shortcode-blogroll  {
	margin: 30px 0 0;

	p {
		overflow: hidden;
		margin-top: 5px;
		padding-bottom: 25px;
		border-bottom: 1px dotted #E6E6E6;
	}
	img {
		width: 100px;
		margin: 5px 20px 0 0;
	}
	li {
		.no-bullets();
		&:last-child p {
			border-bottom: 1px dotted transparent;
			padding-bottom: 5px;
		}
		& > a {
			font-size: 1.15em;
		}
	}
}
